::-webkit-scrollbar {
    display: none;
  }

*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient( #9198e5,#e66465);
}

img {
    width: 30vmax;
    height: 30vmax;
}

input {
    display: none;
}

label {
    width: 100%;
}

.container {
    max-width: 75%;
    min-height: 100vh;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
}

.border {
    border-bottom: 0.2em solid;
}

.meme {
    user-select: none;
    padding: 0.75em 0;
}

.meme-item {
    display: none;
}

.meme-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3.5vw;
    cursor: pointer;
    color: crimson;
}

.meme:hover .meme-item{
    display: block;
}

main:hover .meme-title {
    color: black;
    transition:  .3s;
}

input:checked + span {
    color: black;
    transition:  .3s;
}

input:checked ~ .meme-item {
    display: block;
}

