::-webkit-scrollbar {
    display: none;
  }

*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient( #9198e5,#e66465);
}

img {
    width: 30vmax;
    height: 30vmax;
}

input {
    display: none;
}

label {
    width: 100%;
}

.container {
    max-width: 1170px;
    min-height: 100vh;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
}

.header-item{
    
}

.border {
    border-bottom: 3px solid;
}

.meme {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    padding: 5px 0;
}

.meme:hover .meme-item{
    display: block;
}

main:hover .meme-title {
    color: black;
}

.meme-title {
    display: flex;
    font-size: 2em;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: crimson;
}

.meme-item {
    display: none;
}

input:checked + span {
    color: black;
    transition: .3s;
}

input:checked ~ .meme-item {
    display: block;
}




  /* @media (min-width: 820px){
    .container {
        max-width: 75%;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 320px){
    .container {
        max-width: 75%;
        margin: auto;
        padding: 0;
    }

    .meme-title {
        font-size: ;
    }
} */